@charset "UTF-8";
body {
  background: #3D3D3D;
  color: white;
  font-size: 16px;
  background-size: cover;
  background-attachment: fixed;
  font-family: '微軟正黑體', "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.news {
  margin-top: 5px;
}
.news .panel {
  border-radius: 0;
  margin: 0;
  background-color: #333;
}
.news .panel-heading {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}
.news .panel-group .panel + .panel {
  margin-top: 1px;
}
.news .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top-color: #333;
}

.i-profile.desktop {
  min-height: 319px;
}
.i-profile.desktop .profile {
  background: rgba(0, 0, 0, 0.3);
  float: left;
  padding: 6px;
  width: 225px;
  border-radius: 4px;
  margin-right: 10px;
}
.i-profile.desktop .profile-pic {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 5px;
  width: 214px;
  height: 214px;
}
.i-profile.desktop .profile-icon {
  margin-top: 3px;
}
.i-profile.desktop .profile-misc {
  width: 177px;
}
.i-profile.desktop .profile-desc {
  padding-left: 5px;
  padding-right: 5px;
}

.i-profile.mobile {
  background: rgba(0, 0, 0, 0.3);
  padding: 6px;
  border-radius: 4px;
  margin-right: 10px;
}
.i-profile.mobile .i-profile-pic {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 10px;
  width: 214px;
  height: 214px;
  float: left;
}
.i-profile.mobile .i-profile-misc {
  float: left;
  width: 208px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.i-profile.mobile .i-profile-misc .profile-icon {
  margin-top: 3px;
}
.i-profile.mobile .i-profile-misc .profile-misc {
  width: 177px;
}
.i-profile.mobile .profile-desc {
  padding-left: 5px;
  padding-right: 5px;
}

.promote {
  padding-top: 20px;
}
.promote .media-list {
  margin-top: 20px;
}
.promote .facebookLikeBox {
  height: 69px;
}

.promote-icon {
  font-size: 41px;
  width: 42px;
  height: 59px;
  line-height: 42px;
}
.promote-icon.promote-icon--facebook {
  font-size: 47px;
}

.award {
  margin-top: 5px;
}
.award .panel {
  border-radius: 0;
  margin: 0;
  background-color: #333;
}
.award .panel-heading {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}
.award .panel-group .panel + .panel {
  margin-top: 1px;
}
.award .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top-color: #333;
}

.publish {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.publish-cover {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.publish-label {
  display: inline-block;
  width: 100px;
}

.indexes {
  margin-top: 5px;
}
.indexes .panel {
  border-radius: 0;
  margin: 0;
  background-color: #333;
}
.indexes .panel-heading {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}
.indexes .panel-group .panel + .panel {
  margin-top: 1px;
}
.indexes .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top-color: #333;
}
.indexes .table th,
.indexes .table td {
  text-align: center;
}

.detail-label {
  display: inline-block;
  width: 100px;
}

.detail-title {
  text-align: center;
  margin: auto;
}

.detail-slogan {
  font-style: italic;
  color: #FF8C00;
  border-color: #FF8C00;
  opacity: 0.7;
}

.detail-volumns {
  padding-left: 0px;
  list-style: none;
}

.detail-row {
  margin-bottom: 5px;
}

.detail-label {
  margin-bottom: 5px;
}

.detail-breadcrumb {
  background: #222;
}
.detail-breadcrumb .active {
  color: white;
}
.detail-breadcrumb a {
  color: #777;
}
.detail-breadcrumb a:hover {
  color: white;
}

.read-container {
  padding-bottom: 50px;
}

.read-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #222;
  border-color: #080808;
  height: 40px;
  left: 0px;
  display: block;
}
.read-footer.active {
  height: 100%;
  overflow: auto;
}
.read-footer.active .read-navigation {
  display: block;
}
.read-footer .read-navigation {
  display: none;
}

.read-trigger {
  cursor: pointer;
  padding: 10px;
}

.read-url {
  color: #777;
  font-size: 24px;
}
.read-url:hover {
  color: white;
}

.read-navigation {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}
.read-navigation.-fixed {
  position: fixed;
  margin-top: 0;
  top: 30px;
}

.read-navigation-book-name > a {
  display: block;
  padding: 4px 20px;
  font-weight: 500;
  color: #777;
  font-size: 16px;
}
.read-navigation-book-name > a.active, .read-navigation-book-name > a:hover {
  font-weight: 700;
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.desktop .read-navigation-book-name > a:hover {
  padding-right: 19px;
  border-right: 1px solid white;
}
.desktop .read-navigation-book-name > a.active {
  padding-right: 18px;
  border-right: 2px solid white;
}

.read-volume-navigation,
.read-chapter-navigation {
  list-style: none;
  padding-left: 0;
}

.read-volume-navigation {
  padding-left: 10px;
}

.read-chapter-navigation {
  padding-left: 20px;
}

.read-navigation-book-volume > a {
  display: block;
  padding: 4px 20px;
  color: #777;
  font-size: 14px;
}
.read-navigation-book-volume > a.active, .read-navigation-book-volume > a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.desktop .read-navigation-book-volume > a:hover {
  padding-right: 19px;
  border-right: 1px solid white;
}
.desktop .read-navigation-book-volume > a.active {
  padding-right: 18px;
  border-right: 2px solid white;
}

.read-navigation-book-chapter > a {
  display: block;
  padding: 4px 20px;
  color: #777;
  font-size: 12px;
}
.read-navigation-book-chapter > a.active, .read-navigation-book-chapter > a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.desktop .read-navigation-book-chapter > a:hover {
  padding-right: 19px;
  border-right: 1px solid white;
}
.desktop .read-navigation-book-chapter > a.active {
  padding-right: 18px;
  border-right: 2px solid white;
}

.links-block {
  color: #777;
}
.links-block:hover {
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
}

.overlay-image {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
}
