<ol class="breadcrumb detail-breadcrumb">
  <li><a href="#"><i class="fa fa-fw fa-home"></i></a></li>
  <li><a href="#indexes">小說索引</a></li>
  <li class="active"><%- name %></li>
</ol>
<h2 class="detail-title"><%- name %></h2>
<div class="row detail-row">
    <div class="col-md-1 detail-label">年份：</div>
    <div class="col-md-10"><%- year %></div>
</div>
<div class="row detail-row">
    <div class="col-md-1 detail-label">狀態：</div>
    <div class="col-md-10"><%- status %></div>
</div>
<% if (typeof artist != "undefined" && !!artist) { %>
<div class="row detail-row">
    <div class="col-md-1 detail-label">繪師：</div>
    <div class="col-md-10"><%- artist %></div>
</div>
<% } %>
<div class="row detail-row">
    <div class="col-md-1 detail-label">類型：</div>
    <div class="col-md-10"><%- type %></div>
</div>
<div class="row detail-row">
    <div class="col-md-1 detail-label">合約：</div>
    <div class="col-md-10"><%- contract %></div>
</div>
<div class="row detail-row">
    <div class="col-md-1 detail-label">分冊：</div>
    <div class="col-md-10">
        <ul class="detail-volumns">
        <% for (var i = 0; i < volumes.length; i++) { %>
            <li><%- volumes[i] %></li>
        <% } %>
        </ul>
    </div>
</div>
<br>
<blockquote class="detail-slogan">
  <p><%- slogan %></p>
</blockquote>
<%= description %>
<br>