<p>如對以下未簽約作品感到興趣，並欲合作，歡迎來信詳談：andywong2010@gmail.com</p>
<%
var titles = ["已完結", "創作中", "投稿中", "暫緩"];
var attributes = ["finished", "writing", "submiting", "pending"];
for (var i = 0; i < titles.length; i++) {
    var key = attributes[i];
    var items = data[key];
%>
<h2><%- titles[i] %></h2>
<div class="indexes">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group visible-xs-block" id="indexes-<%- key %>">
            <% for (var j = 0; j < items.length; j++) { %>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#indexes-<%- key %>" href="#indexes-<%- key + j %>">
                                <%- items[j].year + ' ' + items[j].name + ' ' + items[j].type %>
                            </a>
                        </h4>
                    </div>
                    <div id="indexes-<%- key + j %>" class="panel-collapse collapse">
                        <div class="panel-body">
                            總集數：<%- items[j].volume %>本
                            <br>
                            出版社：<%- items[j].publisher %>
                            <br>
                            合同　：<%- items[j].contract %>
                            <% if (items[j].note != "" && items[j].note != null) { %>
                            <br>
                            備注　：<%- items[j].note %>
                            <% } %>
                            <br>
                            <a href="#indexes/<%- items[j].name %>">詳細</a>
                        </div>
                    </div>
                </div>
            <% } %>
            </div>
            <div class="hidden-xs">
                <table class="table">
                    <thead>
                        <tr>
                            <th>年份</th>
                            <th>書名</th>
                            <th>類型</th>
                            <th>總集數</th>
                            <th>出版社</th>
                            <th>合約</th>
                            <th>備注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var j = 0; j < items.length; j++) { %>
                        <tr>
                            <td><%- items[j].year %></td>
                            <td><a href="#indexes/<%- items[j].name %>"><%- items[j].name %></a></td>
                            <td><%- items[j].type %></td>
                            <td><%- items[j].volume %></td>
                            <td><%- items[j].publisher %></td>
                            <td><%- items[j].contract %></td>
                            <td><%- items[j].note %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% } %>