<a href="https://www.facebook.com/writer.blackmo" class="row links-block">
    <div class="media">
      <div class="pull-left">
        <img class="media-object" src="images/links/linkFacebook.png" alt="黑霧's Facebook">
      </div>
      <div class="media-body">
        <h4 class="media-heading">黑霧's Facebook</h4>
        黑霧的FB粉絲專頁，能夠追蹤黑霧的最新動態，以及與讀者互動。
      </div>
    </div>
</a>
<a href="http://www.myfreshnet.com/BIG5/profile/index.asp?userid=102032977" class="row links-block">
    <div class="media">
      <div class="pull-left">
        <img class="media-object" src="images/links/linkMyFreshNet.png" alt="黑霧's 鮮文專欄">
      </div>
      <div class="media-body">
        <h4 class="media-heading">黑霧's 鮮文專欄</h4>
        黑霧的鮮文學網專欄，以往線上作品連載處，但目前暫停中。
      </div>
    </div>
</a>